#NOTES.md#
.project
.settings/
.vscode/
nbactions.xml
notes-application/.classpath
notes-application/.factorypath
notes-application/.project
notes-application/.settings/
notes-application/notes-application-oracledb.war
notes-listener/.classpath
notes-listener/.factorypath
notes-listener/.project
notes-listener/.settings/
notes-listener/target/
#NOTES.md*
